* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes bg-Ñhange {
  0% {
    background-image: url("/images/slider_img/wallpaperflare.com_wallpaper2.jpg");
    /* background-size: 105%; */
  }

  25% {
    background-image: url("/images/slider_img/crysis_14-wallpaper-1920x10801.jpg");
    /* background-size: 115%; */
  }

  50% {
    background-image: url("/images/slider_img/wallpaperflare.com_wallpaper11.jpg");
    /* background-size: 105%; */
  }

  75% {
    background-image: url("/images/slider_img/wallpaperflare.com_wallpaper51.jpg");
    /* background-size: 115%; */
  }

  100% {
    background-image: url("/images/slider_img/wallpaperflare.com_wallpaper2.jpg");
    /* background-size: 105%; */
  }
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

.container-sidebar {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.sidebar > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.sidebar h1 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -30px;
}

.sidebar p {
  width: 450px;
  text-align: center;
}

.main-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
}

.main-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

button {
  background-color: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
}

button:hover {
  color: #222;
}

button:focus {
  outline: none;
}

.container .controls button {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;
}

.container .controls .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.container .controls .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* ---------------------------------------------------------------------------------- */
.page2 {
  width: 100%;
  height: 100vh;
  background-image: url("/images/7349088_3602762.jpg");
  background-position: center;
  background-size: cover;
}