<div class="container-fluid" style="width: 50%; margin-top: 50px">
    <form action="/registration" method="POST">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Ваша почта: </span>
            <input type="email" name="email" class="form-control" placeholder="Введите вашу почту" aria-label="email"
                aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Ваш никнейм: </span>
            <input type="text" name="nickname" class="form-control" placeholder="Введите ваш никнейм" aria-label="Nickname"
                aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Ваш пароль: </span>
            <input type="password" name="password" class="form-control" placeholder="Введите ваш пароль" aria-label="Password"
                aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Ваш пароль ещё раз</span>
            <input type="password" class="form-control" placeholder="Введите ещё раз пароль" aria-label="MorePassword"
                aria-describedby="basic-addon1">
        </div>
        <button type="submit" name="register" class="btn btn-primary mb-3">Регистрация</button>
        <button type="submit" class="btn btn-primary mb-3">Вход</button>
    </form>
</div>