<div class="conteiner">
    <form action="/login" method="POST">
        <div>
            <p class="header">sing in</p>
        </div>
        <div class="form">
            <label for="text">your nickname</label>
            <input type="text" name="nickname" placeholder="nickname" />
            <label for="password">password</label>
            <input type="password" name="password" placeholder="" />
        </div>
        <button type="submit" name="login">sing in</button>
        <div>

            <div class="remember">
                <input type="checkbox">
                <p style="margin:0 20px 0 5px ;">Remember me</p>
                <p><a href="#">Forgot password?</a></p>
            </div>
            <p class="donthave">Don't have an account?<a href="/register"> Sign up</a></p>
        </div>
        <div class="singInWith">
            <div class="line"></div>
            <div>
                <p>Sing in with</p>
            </div>
            <div class="line"></div>
        </div>
        <div class="icon">
            <!-- <img src="/icon/free-icon-pinterest-2626275 (1).png" alt=""> -->
            <img src="/icons/free-icon-instagram-2626270.png" alt="">
            <img src="/icons/free-icon-twitch-2626289 (1).png" alt="">
            <img src="/icons/free-icon-twitter-2626271.png" alt="">
            <img src="/icons/free-icon-telegram-2626281.png" alt="">
            <img src="/icons/free-icon-facebook-2626269 (1).png" alt="">
        </div>
        <div class="home">
            <a href="/"> <img src="/icons/free-icon-home-3991581.png" alt=""> </a>

        </div>

    </form>
</div>